body{
    margin:0;
    text-align:center;
    font-family:sans-serif;
    color:white;
    background: linear-gradient(270deg, red, orange, yellow, green, blue, purple);
    background-size: 1200% 1200%;
    animation: bgMove 10s infinite;
}

@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.title{
    margin-top:30px;
    font-size:30px;
    text-shadow:0 0 20px white;
}

.btn{
    padding:15px 30px;
    font-size:18px;
    border:none;
    border-radius:10px;
    background:gold;
    cursor:pointer;
}

#surpriseBox{
    display:none;
    margin-top:20px;
}

#videoSlideshow{
    position:relative;
    width:300px;
    height:300px;
    margin:auto;
    overflow:hidden;
    border-radius:20px;
    box-shadow:0 0 40px white,0 0 80px pink;
}

.vslide{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0;
    transform:scale(1.2);
    transition:2s;
}

.vslide.active{
    opacity:1;
    transform:scale(1);
}

#surpriseText{
    font-size:20px;
    margin-top:20px;
}
