body{
    text-align:center;
    background:linear-gradient(45deg, red, orange, pink, purple);
    color:white;
}

/* 👧 girl */
.girl{
    width:120px;
    margin-top:10px;
}

/* 🎂 cake */
#cake{
    width:200px;
    margin-top:20px;
    transition:0.5s;
}

/* 🔪 button */
.cutBtn{
    padding:10px 20px;
    margin:15px;
    background:gold;
    border:none;
    border-radius:10px;
}

/* 🎈 balloons */
.balloon{
    position:absolute;
    width:60px;
    animation:float 6s linear infinite;
}

@keyframes float{
    from{transform:translateY(100vh);}
    to{transform:translateY(-100vh);}
}
